<template>
  <div>
    <card :title="$t('home')">
    {{ $t('you_are_logged_in') }} <br>

    <router-link to="/profile" type="button" class="btn btn-primary">Lihat Profile Saya</router-link>
  </card>
  </div>
</template>

<script>
export default {
  middleware: 'auth',

  head () {
    return { title: this.$t('home') }
  }
}
</script>
